@{
    ViewData["NoPaymentType"] = "NoPaymentType";
}

<h1>No Types of Payment Associated With This Account Yet</h1>

<a class="nav-link" asp-area="" asp-controller="PaymentTypes" asp-action="Create">Add A New Payment Type?</a>
