@model Bangazon.Models.OrderViewModels.OrderEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>Checkout</h4>
<hr />
@{
    double TotalPrice = 0;
    foreach (var OrderProduct in Model.Order.OrderProducts)
    {
        <dl class="row">
            <dd class="col-sm-2">
                <a asp-action="Details" asp-route-id="@OrderProduct.ProductId">@Html.DisplayFor(model => OrderProduct.Product.Title)</a>
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => OrderProduct.Product.Price)
            </dt>
            @{
                TotalPrice += OrderProduct.Product.Price;
            }
        </dl>
    }
    <h4>Total Price: @TotalPrice.ToString("C2")</h4>
    if (Model.PaymentTypes == null)
    {
        <h4> You have no payment types! Please <a asp-controller="PaymentTypes" asp-action="Create">add one here</a> to continue!</h4>
    }
    else
    {
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Order.OrderId" />
                    <input type="hidden" asp-for="Order.DateCreated" />
                    <input type="hidden" asp-for="Order.DateCompleted" />
                    <input type="hidden" asp-for="Order.UserId" />
                    <div class="form-group">
                        <label asp-for="Order.PaymentTypeId" class="control-label">Select your payment for this order: </label>
                        <select asp-for="Order.PaymentTypeId" class="form-control" asp-items="Model.PaymentTypes"></select>
                        <span asp-validation-for="Order.PaymentTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
